
<% if !logged_in? %>
  <section class="content-section video-section">
    <div class="pattern-overlay">
    <a id="bgndVideo" class="player" data-property="{videoURL:'https://youtu.be/V4Oosy-ZtGY',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
          <h1>cart</h1>
          <h3>Buy unique artwork from artists across the globe</h3>
          <p style="text-align: center;"class="lead">
            <a class="btn btn-primary btn-lg" href="/users/new" role="button">Signup</a>
          </p>
          <p style="text-align: center;"class="lead">
            <a class="btn btn-success btn-lg" href="/sessions/new" role="button">Login</a>
         </p>
  	   </div>

        </div>
      </div>
    </div>
  </section>
<h1 style="background: #2e6da4;color:black; opacity: 0.8;margin-top: 10px;">cartwork</h1>
<% @arts.each do |u| %>
<div style="border-radius:5%;border:2px solid black; background: white;display: inline-block; margin: 0 1%; width: 304px;">
<div> <%= image_tag u.user.avatar.url(:thumb), style: "border-radius: 50%; float: left; margin: 0 5px 5px;" %><%= link_to u.user.username, show_user_path(u.user), style: "margin-right: 20%; font-size: 20px"%></div>
<img><%= image_tag u.avatar.url(:medium) %></img>
<div style="font-size: 25px;"><%= link_to u.name, show_art_path(u) %></div>
<div style="margin-bottom: 10px;">
<div>Style: <%= u.style %></div>
<div>Cost: $<%= u.price %></div>
<div>Details: <%= u.details %></div>
<div>Likes: <%= u.likes.count %></div>
</div>
</div>
<% end %>


<% end %>
<% if logged_in? %>
<h1 style="background: #2e6da4;color:black;opacity: 0.8; margin-top: 0;">yourfeed</h1>
<div>
<% @relations.reverse.each do |r| %>
<% if r.follower.id == current_user.id %>
  <% r.followed.arts.reverse.each do |a| %>
  <div style="border-radius: 5%;border:2px solid black; background: white;display: inline-block; margin: 0 1%; width: 304px;">
  <div> <%= image_tag r.followed.avatar.url(:thumb), style: "border-radius: 50%; float: left; margin: 0 5px 5px;" %><%= link_to r.followed.username, show_user_path(r.followed), style: "margin-right: 20%; font-size: 20px"%></div>
  <div><%= image_tag a.avatar.url(:medium) %></div>
  <div><%= link_to a.name, show_art_path(a) %></div>
  <div style="background:rgb(219, 219, 219);border: 2px dotted black;">
  <div>Style:<%= a.style %></div>
  <div>Cost:$<%= a.price %></div>
  <div>Details:<%= a.details %></div>
  <div>Likes: <%= a.likes.count %></div>
  <div>Posted <%= time_ago_in_words(a.created_at)%> ago</div>
  </div>
  <div style="margin-bottom: 5px;text-align:center;">
    <% if logged_in? %>
    <% if current_user.id == r.followed.id %>
        <a href="<%= edit_art_path(u.id) %>" class="btn-sm btn-primary">Edit</a>
    <% else %>
        <% if current_user.already_likes?(a) %>
            <%= link_to 'Unlike', {controller: 'likes', action: 'destroy', id: a.id}, class: 'btn-sm btn-default' %>
        <% else %>
            <%= link_to 'Like', {controller: 'likes', action: 'create', id: a.id}, class: 'btn-sm btn-success' %>
        <% end %>
    <% end %>
  <% end %>
  </div>
</div>
    <% end %>
    <% end %>
    <% end %>
<h1 style="background: #2e6da4;color:black;opacity: 0.8; margin-top: 0;">cartfeed</h1>

<% @arts.reverse.each do |u| %>
<div style="border-radius: 5%;border:2px solid black; background: white;display: inline-block; margin: 0 1%; width: 304px;">
<div> <%= image_tag u.user.avatar.url(:thumb), style: "border-radius: 50%; float: left; margin: 0 5px 5px;" %><%= link_to u.user.username, show_user_path(u.user), style: "margin-right: 20%; font-size: 20px"%></div>
<div><%= image_tag u.avatar.url(:medium) %></div>
<div><%= link_to u.name, show_art_path(u) %></div>
<div style="background:rgb(219, 219, 219);border: 2px dotted black;">
<div>Style:<%= u.style %></div>
<div>Cost:$<%= u.price %></div>
<div>Details:<%= u.details %></div>
<div>Likes: <%= u.likes.count %></div>
<div>Posted <%= time_ago_in_words(u.created_at)%> ago</div>

</div>
<div style="margin-bottom: 5px;text-align:center;">
  <% if logged_in? %>
  <% if current_user.id == u.user.id %>
      <a href="<%= edit_art_path(u.id) %>" class="btn-sm btn-primary">Edit</a>
  <% else %>
      <% if current_user.already_likes?(u) %>
          <%= link_to 'Unlike', {controller: 'likes', action: 'destroy', id: u.id}, class: 'btn-sm btn-default' %>
      <% else %>
          <%= link_to 'Like', {controller: 'likes', action: 'create', id: u.id}, class: 'btn-sm btn-success' %>
      <% end %>
  <% end %>
<% end %>
</div>

</div>
<% end %>
<% end %>
