<h1 style="background: rgb(255, 236, 110); opacity: 0.8">post art</h1>
<div style="width: 40%; margin: 0 auto;"class="">
  <%= form_for @art, url: create_art_path, html: { multipart: true} do |f| %>
  <%= f.text_field :name, class:"form-control", placeholder:"Name of artwork"%>
  <br>
  <%= f.text_field :style, class:"form-control", placeholder:"Style of artwork" %>
  <br>
  <%= f.number_field :price, class:"form-control", placeholder:"Price of artwork"%>
  <br>
  <%= f.text_field :details, class:"form-control", placeholder:"Details of artwork" %>
  <br>
  <%= f.label :avatar, "Art picture" %>
  <%= f.file_field :avatar, class:"form-control", type:"file", id:"exampleInputFile", placeholder:"Profile Picture" %>
  <br>
  <%= f.submit class:'btn btn-default' %>
<% end %>
</div>
