<!DOCTYPE html>
<html>
<head>
  <title>Cart</title>
  <link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav style="text-align:center;"class="navbar navbar-inverse">
    <% if !logged_in? %>
    <a style="color: black;font-weight: bold;"class="btn btn-warning btn-lg" href="/" role="button">home</a>
    <% else %>
    <a style="color: black;font-weight: bold;"class="btn btn-warning btn-lg" href="/" role="button">cartfeed</a>
    <% end %>
    <a style="color: black;font-weight: bold;"class="btn btn-warning btn-lg" href="/users" role="button">artists & collectors</a>
    <a style="color: black;font-weight: bold;"class="btn btn-warning btn-lg" href="/arts" role="button">artwork</a>
  <% if logged_in? %>
  <%= link_to "Profile", show_user_path(current_user), class: "btn btn-warning btn-lg", style: "color: black;font-weight: bold;"%>
  <% end %>
  <a style="color: black;font-weight: bold;"class="btn btn-warning btn-lg" href="#" role="button">cart(coming soon)</a>
  <% if logged_in? %>
  <a style="color: black;font-weight: bold;"class="btn btn-warning btn-lg" href="/logout" role="button">logout</a>
  <% else %>
  <a style="color: black;font-weight: bold;"class="btn btn-warning btn-lg" href="/sessions/new" role="button">login</a>
  <% end %>
  </nav>
  <div style="text-align: center;"class="">
  <% if flash[:success] %>
    <div class="alert alert-success"> <%= flash[:success] %> </div>
    <% elsif flash[:failure] %>
    <div class="alert alert-danger"> <%= flash[:failure]  %></div>
    <% end %>
  </div>
  <script>$('.alert').delay(6000).slideUp()</script>


<%= yield %>

</body>
</html>
